.userBasicLeft{
  width: 340px;
  height: calc(100% + 1px);
  background: linear-gradient(217deg, rgba(18, 48, 117, 1) 0%, rgba(9, 32, 86, 1) 100%);
  color: #fff;
  text-align: center;
  font-size: 16px;
  float: left;
  margin-top: -1px;
  .centerLine{
    height: 2px;
    background: #fff;
    width: 20px;
    margin: 25px auto;
  }
  .userList{
    padding: 25px 0;
    cursor: pointer;
  }
  .selList{
    background: rgba(255, 255, 255, 0.2);
  }
}
