@import 'antd/dist/antd.css';

.commonCard{
  padding: 10%;
  margin: 10%;
  height:434px;
  background:rgba(255,255,255,1);
  box-shadow:20px 20px 60px rgba(0,0,0,0.1);
  opacity:1;
  border-radius:5px;
  text-align: center;
  padding-top: 10px;
}
.commonCardImg{
  width:100%;
  height:239px;
  background:rgba(0,0,0,0);
  opacity:1;
}
.left{ float: left; }
.right{ float: right; }
.flex{ display: flex; }
.flex_1{ flex: 1; }
.clear{ clear: both; }
.clear:after{
  content: '';
  display: block;
  clear: both;
}
.show{ display: block!important; }
.hidden{ display: none!important; }
.dashedLine{
  width:100%;
  height:0px;
  border:1px solid rgba(214,221,240,1);
  opacity:1;

}
