@import 'antd/dist/antd.css';

.left{ float: left; }
.right{ float: right; }
.flex{ display: flex; }
.flex_1{ flex: 1; }
.clear{ clear: both; }
.clear:after{
  content: '';
  display: block;
  clear: both;
}
.show{ display: block!important; }
.hidden{ display: none!important; }
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dashedLine{
  width:100%;
  height:0px;
  border:1px dashed rgba(214,221,240,1);
  opacity:1;
}
/*----------CommonCard样式----------*/
.ant-card-meta-title{
  color: #1A47B0;
  font-size: 18px;
  margin-bottom: 17px!important;
  white-space: unset!important;
}
.ant-card-meta-description{
  color: #595F6F;
  font-size: 14px;
}
/*------------加载更多按钮------------*/
.loadMoreBtn{
  padding: 10px 17px;
  border: 1px solid #1A47B0;
  color: #1A47B0;
  background: #fff;
}
.clearAfter:after{
  content: '';
  display: block;
  clear: both;
}
@media (min-width: 1200px){
  .container{
    width: 1400px;
  }
}
/*---------------返回到登录界面箭头-----------------*/
.goBackLogin{
  position: absolute;
  top: 40px;
  left: 50px;
  cursor: pointer;
  font-size: 25px;
}
@Media (max-width: 768px) {
  .goBackLogin{
    top: 20px;
    left: 35px;
  }
}
/*-------------------CommonCard组件样式----------------------*/
.commonCardImg{
  transition: transform ease 0.8s;
  width: 100%;
  height: 220px;
}
.commonCardImgDiv:hover .commonCardImg{
  transform: scale(1.2);
}
.ant-card-cover{
  overflow: hidden;
}
.ant-card-meta-title:hover{
  color: #000489;
}
.ant-card-meta-description{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.commonCardImgDiv{
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 21px;
}
.commonCardMask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1C4FF9;
  opacity: 0;
  transition: opacity ease 0.8s;
  text-align: center;
  color: #fff;
}
.commonCardImgDiv:hover .commonCardMask{
  opacity: 0.8;
}
.commonCardMask .tag{
  border: 2px solid #fff;
  margin: 5px;
  padding: 8px 24px;
  border-radius: 5px;
  max-width: 150px;
  display: inline-block;
}


/*----------childList组件样式----------*/
.childListImg{
  transition: transform ease 0.8s;
  width: 100%;
}
.childListImg:hover{
  transform: scale(1.2);
}

/*!*---------homeMatchs组件样式---------*!*/
/*.homeMatchsDiv:hover .commonCardMask{*/
  /*opacity: 0.8;*/
/*}*/

/*------置顶轮播的样式------*/
.carouselTitle{
  position: absolute;
  left: 150px;
  top: 262px;
  width: 760px;
  z-index: 1;
  color: #fff;
}
