.fifaheader {
  width: 80%;
  height: 90px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  align-items: center;
}
.leftheader {
  display: flex;
  flex: 1;
  align-items: center;
  height: 90px;
}
.leftheader ul {
  display: flex;
  align-items:center;
}
.leftheader ul li {
  color: #fff;
  font-size: 18px;
  margin: 0 23px;
  cursor: pointer;
  height: 90px;
  line-height: 90px;
}
.rightheader {
  width: 250px;
  text-align: right;
}
.rightheader input{
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  display: inline-block;
  width: 75%;
  margin-right: 30px;
}
.rightheader>span{
  width: calc(25% - 30px);
  vertical-align: top;
}
.rightheader input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff!important;
}
.rightheader input:-moz-placeholder, textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff!important;
}
.rightheader input::-moz-placeholder, textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff!important;
}
.rightheader input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff!important;
}
.home {
  background-color: skyblue;
}
.leftheader .childrenList{
  height: 200px;
  width: 100%;
  background: #fff;
  opacity: 0.8;
}
.leftheader .childrenList li{
  color: #414141;
}
