.detailDiv{
  margin: 68px auto 119px auto;
  .detailTopMask{
    width: 100%;
    height: 33%;
    bottom: 0;
    position: absolute;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
    z-index: 2;
    color: #fff;
    padding: 18px 22px;
    .title{
      font-weight: bold;
      font-size: 22px;
    }
  }
  .detailContent{
    padding: 0 100px 79px 100px;
    color: #363636;
    font-size: 16px;
    line-height: 35px;
    font-weight: 300;
    @media (max-width: 768px){
      padding: unset;
    }
    img{
      max-width: 100%;
      margin: 42px 0;
    }
  }
  .tagColor{
    border: 1px solid #1A47B0;
    margin-right: 27px;
    padding: 8px 29px;
    color: #1A47B0;
    border-radius: 2px!important;
    background: #fff!important;
  }
  .submitComment{
    font-size: 16px;
    padding: 12px 31px;
    font-weight: bold;
    background: #fff;
    border: 2px solid #ccc;
    color: #ccc;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover{
      background: #0065E0;
      border: 2px solid #0065E0;
      color: #fff;
    }
  }
}
