.forgetPswPage{
  width: 100%;
  height: 100vh;
  background: url('../assets/img/loginBg.jpg') no-repeat;
  background-size: cover;
  .forgetPswModule{
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -256px;
    margin-left: -350px;
    background: #fff;
    color: #1F1F1F;
    padding: 30px 40px;
    border-radius: 5px;
    .title{
      text-align: center;
      width: 100%;
      font-size: 28px;
    }
    button{
      background: #1F1F1F;
      color: #fff;
    }
    .ant-row{
      >div{
        margin: 5px 0;
      }
      >.ant-col-12{
        padding: 0 15px;
      }
    }
    .liStyle{
      padding-bottom: 10px;
      border-bottom: 2px solid #414141;
    }
    li{
      cursor: pointer;
    }
  }
}
