.userInfo{
  height: 800px;
  @media (max-width: 768px){
    height: unset;
  }
  .rightContent{
    float: left;
    padding: 60px;
    //width: 800px;
    height: 100%;
    position: relative;
    background: url('../assets/img/userInfoBg.jpg') no-repeat right top;
    width: calc(100% - 340px);
    @media (max-width: 768px){
      width: 100%;
      padding: 28px 17px;
      float: unset;
    }
    .title{
      color: #1A47B0;
      font-size: 24px;
      padding-bottom: 29px;
      border-bottom: 1px dashed #D6DDF0;
    }
    .subTitle{
      color: #414141;
      font-size: 18px;
      margin: 45px 0;
      @media (max-width: 768px){
        margin: 29px 0;
      }
    }
    .upload{
      &:after{
        content: '请选择jpg、gif格式，小于1M的图片（使用高质量图片，可生成高清头像）';
        display: block;
        margin-top: 19px;
      }
    }
    .clearAfter{
      padding-bottom: 45px;
      border-bottom: 1px solid #D6DDF0;
    }
    .clearAfters{
      &:after{
        content: '';
        display: block;
        clear: both;
      }
    }
    .userBtn{
      background: #414141;
      color: #fff;
    }
    .labelInput{
      display: inline-block;
      width: 100px;
    }
    .msgFlame{
      background: #fff;
      border: 1px solid #F0F0F0;
      padding: 15px 24px;
      margin: 20px 0;
      border-radius: 5px;
      width: 500px;
      @media (max-width: 768px){
        width: 100%;
      }
    }
  }
  .ant-upload-list-item{
    @media (max-width: 768px){
      padding: 0!important;
    }
  }
}
